.tic-tac-toe-container{
   
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.square {
    background: #fff;
    border: 1px solid hsl(0, 84%, 46%);
    float: left;
    font-size: 40px;
    height: 100px;
    padding: 0px;
    text-align: center;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    cursor: pointer;

}